.map {
    // background-color: red;
}
.map__wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.district {
    transition: fill 300ms ease-in;
    &.hovered {
        cursor: pointer;
        fill: orange;
    }
}

.district__title {
    pointer-events: none;

    text {
        stroke: black;
        // stroke: black;
    }
}

.initBtn {
    background-color: steelblue;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
}
